*{
    margin: 0;
}
body{
    background-image: url(fnn.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.big{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    /* flex-direction: row; */
}
.big img{
    width: 500px;
    height: 600px;
    margin-top: 20px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 25px; */
    margin-top: 10px;
    background-color: white;
    width: 550px;
    height: 600px;
    
}
.zou{
    /* margin-bottom: 25px; */
    margin-top: 165px;
}
:required{
   border-color: red;
}
#fn{
    border-color: rgb(129, 255, 129);
}
#sub{
    /* background-color: rgb(153, 255, 153); */
    background-color: rgb(59, 212, 59);
    padding: 10px;
    font-weight: 400;
    margin-left: 35px;
}
#res{
    padding: 10px;
    font-weight: 400;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: 20px;
}
#vlr{
    margin-top: 260px;
    background-color: rgb(59, 212, 59);
    color: white;
    border: none;
    padding: 10px;
}
.bigger{
    margin-bottom: 127px;
}
/* #trt{
    color: green;
} */
