*{
    margin: 0;
}
body{
    background-image: url(form\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.big{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
form{
    background-color: rgb(43, 18, 0);
    color: white;
    height: 450px;
}
.big img{
    width:350px;
    height:450px;
}
#zou{
    color:rgb(241, 206, 160) ;
}
.one{
   margin-left: 30px;
}
.two{
    margin-left: 30px;
    display: flex;
}
.three{
    margin-left: 45px;
    margin-top: 15px;
    background-color: rgb(245, 193, 126);
    padding: 2px;
    width: 90px;
    padding-left: 12px;
    padding-top: 12px;
    padding-right: 8px;
}
h1{
    margin-left: 30px;
}
i{
    margin-left: 310px;
}
.four{
    margin-left: 30px;
    color:  rgb(241, 206, 160) ;
}
#un{
    border-radius: 10px;
}
.two {
    display: flex;
   justify-content: space-around;
    font-weight: 600;
}
.two .yup{
    display:flex ;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    color: black;

}
.two .yup p{
    text-align: center;
}

.two .person{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: rgb(194, 81, 0);
   color:black;
   border-radius: 10px;
}
.person .yup{
    background-color: rgb(51, 22, 1);
    color: white;
}
hr{
    width: 350px;
}